.count_cards {
    display: grid; 
    grid-template-columns: repeat(auto-fit, 250px);
    /* grid-auto-flow: row; */
    align-items: center;
    gap: 5px;
    justify-content: space-between;
}

.count_cards .buttons {
    display: grid; 
    grid-template-columns: 50px 50px 50px 50px;
    align-items: center;
    column-gap: 5px;
    justify-content: space-between;
}

.products_container {
    margin: 20px 0px;
    max-width: 1280px;
    min-width: 320px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 20px;
    justify-content: space-between;
  }